backend/.venv/
frontend/node_modules/
backend/.env
.env

__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/

frontend/dist/
dist/

*.log
.DS_Store
Thumbs.db
.vscode/
.idea/

backend/nano
backend/app/_init_.py
backend/app/api/_init_.py
backend/app/core/_init_.py
package-lock.json
*.bak